.InputWrapper {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}

.Label {
  margin-bottom: 5px;
  font-size: 14px;

  color: var(--color);
}

.Input {
  padding: 10px;
  font-size: 16px;
  border: 1px solid var(--light-blue);
  border-radius: 8px;
  width: 100%;
  box-sizing: border-box;
  background-color: var(--input-bg);
}

.Input:focus {
  outline: none;
  border: 2px solid var(--bright-blue);
}

.InputDisabled {
  background-color: #f0f0f0;
  border-color: #dcdcdc;
  cursor: not-allowed;
}
