.container {
  position: fixed;
  top: 0;
  right: 10px;
  background-color: #111;
  padding: 10px;
  z-index: 1000;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  text-decoration: none;
}

.icon {
  width: 32px;
  height: 32px;
  display: block;
  color: #fff;
}
