.Home {
  min-height: 100vh;
  max-height: 100%;
  min-width: 100%;
  width: fit-content;
  box-sizing: border-box;
  background-color: var(--primary-bg);
  color: var(--color);
  padding: var(--page-padding);
}

.HomeText {
  flex: 1;

}
.HomeText h1 {
  margin-bottom: 20px;
  font-size: 26px;
}

.HomeImg {
  flex: 1;
}